{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %} 
	<header class="jumbotron text-center">
		<h1 class="display-4">LabSaver</h1>
		<style>
			body {
				background-color: rgb(230, 227, 227);
			}
		</style>
	</header>

	<body>
		<!-- Sign up -->
		<div class="container my-5">
			<div class="jumbotron ">
				<div class="form-signin">
					<h2 class="text-center">Login</h2> 
					<form method="post">
						{% csrf_token %}
						{{ form|crispy }}
						<div class="container text-center">
							<button class="btn btn-success" type="submit">Login</button> 
						</div>
					</form> 
				</div>
			</div>
			<p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
		</div>
		<!-- Sign up -->
	</body>


{% endblock content %}
