{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
	.form-signin {
		max-width: 500px;
		margin: 0 auto;
		padding: 30px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}
</style>

{% block content %} 
	<header class="jumbotron text-center">
		<h1 class="display-4">LabSaver</h1>
	</header>
	<div class="container">

		<div class="form-signin">
			<h2>Sign Up</h2> 
			<form method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<div class="container text-center">
					<button class="btn btn-success" type="submit">Sign Up</button> 
				</div>
			</form> 
			<br><br>
			<p class="text-center">Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
			
		</div>
		
	</div>
{% endblock content %}
