<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
<!--		<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
		
		<title>Home</title>
	</head>
	<body>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<!-- Navigation Bar -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">LabSaver</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Inventory</a></li>
					<li><a href="#">Search</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</nav>
		
		<header class="jumbotron text-center">
			<h1 class="display-4">LabSaver</h1>
			
			<div class="container my-5">
				<p>
					Discover the most cost-effective lab products with ease. Our app simplifies the process by allowing you to compare prices from multiple suppliers and view their inventory, ranked from most to least in stock.
				</p>
			</div>
			
			<!-- Search Bar -->
			<div class="container my-5">
				<form class="form-inline d-flex justify-content-center">
					<input
						class="form-control mr-sm-2"
						type="search"
						placeholder="Search"
						aria-label="Search"
					/>
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
		</header>
		

		
		
<!--		<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--		<main class="container">-->
<!--			<nav class="nav justify-content-center">-->
<!--				<a class="nav-link" href="about_us.html">About Us</a>-->
<!--				<a class="nav-link" href="sign_in.html">Sign In</a>-->
<!--				<a class="nav-link" href="sign_up.html">Sign Up</a>-->
<!--			</nav>-->
<!--			<form action="search_results.html" method="GET">-->
<!--				<div class="form-group">-->
<!--					<input type="text" class="form-control" name="query" placeholder="Search">-->
<!--				</div>-->
<!--				<button type="submit" class="btn btn-primary">Search</button>-->
<!--			</form>-->
<!--		</main>-->
		
	</body>

</html>