<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% block content %}
	<head>
		<title>Home</title>
	</head>
	
	<body>
		<header class="jumbotron text-center">
			<h1 class="display-4">About LabSaver</h1>
			<div class="jumbotron text-center">
				<p class="container my-5">
					Discover the most cost-effective lab products with ease. Our app simplifies the process by allowing you to compare prices from multiple suppliers and view your inventory, ranked from least to most in stock.
				</p>
			</div>
			
			<br><br><br><br>
			<!-- Search Bar -->
			<div class="container my-5">
				<h2 class="display-4">About Searching</h2>
				<div class="jumbotron text-center">
					<p class="container my-5">
						Discover our lab products searching function, which helps you find the cheapest lab equipment amount most of the suppliers.

					</p>
					<!-- Search Bar -->
					<div class="container my-5">
						<form class="form-inline d-flex justify-content-center" method="post">
							{% csrf_token %}
							<input
								class="form-control mr-sm-2"
								type="text"
								placeholder="Search"
								aria-label="Search"
								name="query"
							/>
							<button type="submit" class="btn btn-info">Search</button>
						</form>
					</div>
				</div>
				
			</div>
			
			<br><br><br><br><br><br>
			<h2 class="display-4">About Inventory</h2>
			<div class="jumbotron text-center">
				<p class="container my-5">
					Discover our inventory function, where you can visualise all the inventory with a rank from the lowest to highest and the information about the suppliers.
				</p>
				<a type="button" class="btn btn-info" href="{% url 'signup' %}"> Sign up</a>
			</div>

		</header>
	</body>
{% endblock content %}
</html>