<!DOCTYPE html>
<html>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
	<link href="{% static 'css/base.css' %}" rel="stylesheet"s> 
	
	
	<!-- Navigation Bar -->
	<nav class="navbar navbar-inverse fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{%url 'home' %}">LabSaver</a>
			</div>

			<!-- User Login or not, if user -->
			{% if user.is_authenticated %}
				<ul class="nav navbar-nav">
					<li><a href="{%url 'home' %}">Home</a></li>
					<li><a href="{%url 'about' %}">About</a></li>
					<li><a href="#">Inventory</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					
					<!--Drop down -->
					<li>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{user.username}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item"
								href="{% url 'password_change'%}">Change password</a></li>
							<li><a class="dropdown-item"
								href="{% url 'password_reset'%}">Reset password</a></li>
							<li><a class="dropdown-item" href="{% url 'logout' %}"> Log Out</a></li>
						</ul>						
					</li>
				</ul>
			{% else %}
				<!-- if guest -->
				<ul class="nav navbar-nav">
					<li><a href="{%url 'home' %}">Home</a></li>
					<li><a href="{%url 'about' %}">About</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{%url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="{%url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
				
			{% endif %}
		</div>
	</nav>
	

	{% block content %}
	{% endblock content %}
	
	<!-- Footer -->
	<footer class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		<!-- Copyright -->
		<div class="container">
			<br>
			<p>
				© Copyright:
				<a class="badge badge-dark" href="{%url 'home' %}">LabSaver</a>
			</p>
			<p>
				<a class="badge badge-light" href="#">Back to top</a>
			</p>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</html>