<!--Source: Example HTML code from https://github.com/KenBroTech/Django-Inventory-Management-System-->
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>LabSaver</title>
    
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">LabSaver</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'search' %}">Search</a>
          </li>
          
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link" href="{%url 'dashboard' %}">Inventory</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{user.username}} </a>
<!--            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{user.username}}<span class="caret"></span></a>-->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'password_change'%}">Change password</a></li>
              <li><a class="dropdown-item" href="{% url 'password_reset'%}">Reset password</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"> Log Out</a></li>
            </ul>
          </li>
          
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  
<!--   Top   -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-header bg-info text-white">
            Information
          </div>
          <div class="card-body">
            <h3 class="my-4">New Information</h3>
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-4">
        <div class="card">
          <div class="card-header bg-info text-white">
            Dashboard Statistics
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <a class="text-decoration-none text-dark" href="{% url 'dashboard' %}">
                  <div class="card my-card shadow">
                    <div class="card-body text-center">
                      <h4>Staff <i class="fas fa-users"></i></h4>
                      <h3>customer_count</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a class="text-decoration-none text-dark" href="{% url 'dashboard' %}">
                  <div class="card my-card shadow">
                    <div class="card-body text-center">
                      <h4>Products <i class="fas fa-box"></i></h4>
                      <h3>product_count</h3>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a class="text-decoration-none text-dark" href="{% url 'dashboard' %}">
                  <div class="card my-card shadow">
                    <div class="card-body text-center">
                      <h4>Orders <i class="fas fa-shipping-fast"></i></h4>
                      <h3>order_count</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Top -->
    
    
<!--  main dashboard  -->
    <div class="row ">
      <div class="col-md-6 my-4">
        <div class="bg-white">
          <div class="card-body">
            <canvas id="myChart1" width="400" height="300"></canvas>
<!--            <script>-->
<!--              var ctx = document.getElementById('myChart1').getContext('2d');-->
<!--              var myChart1 = new Chart(ctx, {-->
<!--                type: 'pie',-->
<!--                data: {-->
<!--                  labels: [{% for product in product %} '{{product.name}}', {% endfor %}],-->
<!--                  datasets: [{-->
<!--                    label: 'Number of Products',-->
<!--                    data: [{% for product in product %} {{ product.quantity }}, {% endfor %}],-->
<!--                    backgroundColor: [-->
<!--                      'rgba(255, 99, 132, 1)',-->
<!--                      'rgba(54, 162, 235, 1)',-->
<!--                      'rgba(255, 206, 86, 1)',-->
<!--                      'rgba(75, 192, 192, 1)',-->
<!--                      'rgba(153, 102, 255, 1)',-->
<!--                      'rgba(255, 159, 64, 1)'-->
<!--                    ],-->
<!--                    borderColor: [-->
<!--                      'rgba(255, 99, 132, 1)',-->
<!--                      'rgba(54, 162, 235, 1)',-->
<!--                      'rgba(255, 206, 86, 1)',-->
<!--                      'rgba(75, 192, 192, 1)',-->
<!--                      'rgba(153, 102, 255, 1)',-->
<!--                      'rgba(255, 159, 64, 1)'-->
<!--                    ],-->
<!--                    borderWidth: 1-->
<!--                  }]-->
<!--                },-->
<!--                options: {-->
<!--                  scales: {-->
<!--                    yAxes: [{-->
<!--                      ticks: {-->
<!--                        beginAtZero: true-->
<!--                      }-->
<!--                    }]-->
<!--                  }-->
<!--                }-->
<!--              });-->
<!--            </script>-->
          </div>
        </div>
      </div>
      <div class="col-md-6 my-4">
        <div class="bg-white">
          <div class="card-body">
            <canvas id="myChart" width="400" height="300"></canvas>
<!--            <script>-->
<!--              var ctx = document.getElementById('myChart').getContext('2d');-->
<!--              var myChart = new Chart(ctx, {-->
<!--                type: 'bar',-->
<!--                data: {-->
<!--                  labels: [{% for order in order %} '{{order.name}}',{% endfor %}],-->
<!--                  datasets: [{-->
<!--                    label: 'Orders',-->
<!--                    data: [{% for order in order %} {{ order.order_quantity }}, {% endfor %}],-->
<!--                    backgroundColor: [-->
<!--                      'rgba(255, 99, 132, 1)',-->
<!--                      'rgba(54, 162, 235, 1)',-->
<!--                      'rgba(255, 206, 86, 1)',-->
<!--                      'rgba(75, 192, 192, 1)',-->
<!--                      'rgba(153, 102, 255, 1)',-->
<!--                      'rgba(255, 159, 64, 1)'-->
<!--                    ],-->
<!--                    borderColor: [-->
<!--                      'rgba(255, 99, 132, 1)',-->
<!--                      'rgba(54, 162, 235, 1)',-->
<!--                      'rgba(255, 206, 86, 1)',-->
<!--                      'rgba(75, 192, 192, 1)',-->
<!--                      'rgba(153, 102, 255, 1)',-->
<!--                      'rgba(255, 159, 64, 1)'-->
<!--                    ],-->
<!--                    borderWidth: 1-->
<!--                  }]-->
<!--                },-->
<!--                options: {-->
<!--                  scales: {-->
<!--                    yAxes: [{-->
<!--                      ticks: {-->
<!--                        beginAtZero: true-->
<!--                      }-->
<!--                    }]-->
<!--                  }-->
<!--                }-->
<!--              });-->
<!--            </script>-->
          </div>
        </div>
      </div>
    </div>
<!--end main dashboard-->
  
  </body>
</html>


