{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

<!DOCTYPE html>
<html>
	
	{% block content %}
	<head>
		<title>Search</title>
	</head>
	
	<header class="jumbotron text-center">
		<h1 class="display-4">LabSaver</h1>
		<!-- Search Bar -->
		<div class="container searchbar">
			<form class="form-inline d-flex justify-content-center" method="post">
				{% csrf_token %}
				<input
					class="form-control mr-sm-2"
					type="text"
					placeholder="Search"
					aria-label="Search"
					name="query"
				/>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
	</header>
	
	
	<body>
		
		<!-- [ Hover-table ] start -->
		<div class="container">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><h4>Supplier</h4></th>
						<th><h4>Name</h4></th>
						<th><h4>Price</h4></th>
						<th><h4>Url</h4></th>
					</tr>
				</thead>
				<tbody>
					{% for productName, detail in results.items %}
						<tr>
							
							<td>{{ detail.supplier }}</td>
							<td>{{ productName }}</td>
							<td>{{ detail.price }}</td>
							<td>
								<a href="{{ detail.url }}">Buy me</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- [ Hover-table ] end -->
	</body>
	{% endblock content %}
</html>
