{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

<!DOCTYPE html>
<html>
	
	{% block content %}
	<head>
		<title>Search</title>
	</head>
	
	
	<body>
		<header class="jumbotron text-center">
			<h1 class="display-4">LabSaver</h1>
			<div class="jumbotron text-center">
				<p class="container my-5">
					Discover the most cost-effective lab products with ease. Our app simplifies the process by allowing you to compare prices from multiple suppliers and view your inventory, ranked from least to most in stock.
				</p>
			</div>
			
			<!-- Search Bar -->
			<div class="container my-5">
				<form class="form-inline d-flex justify-content-center" method="post">
					<input
						class="form-control mr-sm-2"
						type="text"
						placeholder="Search"
						aria-label="Search"
						name="query"
					/>
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
		</header>
	</body>
	{% endblock content %}
</html>
