{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

<!DOCTYPE html>
<html>
	
	{% block content %}
	<head>
		<title>Search</title>
	</head>
	
	<header class="jumbotron text-center">
		<h1 class="display-4">LabSaver</h1>
	</header>
	
	
	<body>
		<!-- Search Bar -->
		<div class="container my-5">
			<div class=" text-center">
				<h2 class="display-6">Searching for Lab Equipments</h2>
				<!-- Search Bar -->
				<div class="container my-5">
					<form class="form-inline d-flex justify-content-center" method="post">
						{% csrf_token %}
						<input
							class="form-control mr-sm-2"
							type="text"
							placeholder="Search"
							aria-label="Search"
							name="query"
						/>
						<button type="submit" class="btn btn-info">Search</button>
					</form>
				</div>
			</div>
		</div>
		<!-- Search Bar -->
		
		<!-- [ Hover-table ] start -->
		<div class="container">
			{% if not results %}
			<div class="row">
				<!-------------	Example product ------------->
				{% for p in ExampleProducts %}
				<div class="col-md-4 mt-4">
					<div class="card">
						<div class="card-header bg-info text-white">
							Example product
						</div>
						<div class="card-body">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col text-dark">Product Name</th>
										<th scope="col text-dark">Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<a href="{{ p.url }}"> 
												<h6 class="text-dark"> {{ p.name }} </h6> 
											</a>
										</td>
										<td>
											<a href="{{ p.url }}"> 
												<h6 class="text-dark">  £{{ p.price }} </h6>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							
							<hr>
							<div class="col-md-8">
								<a href="{{ p.url }}" class="btn btn-info float-right ml-auto"> Buy Now </a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<!-------------	Example product ------------->
			</div>
			<br>
			<br>
			
			{% else %}
			<table class="table table-hover bg-white">
				<thead class="bg-info">
					<tr class="text-white">
						<th> Supplier </th>
						<th> Name </th>
						<th> Price </th>
						<th> Url </th>
					</tr>
				</thead>
				<tbody>
					{% for productName, detail in results.items %}
					<tr>
						<td>{{ detail.supplier }}</td>
						<td>{{ productName }}</td>
						<td>{{ detail.price }}</td>
						<td>
<!--							<a href="{{ detail.url }}" class="btn btn-info">Buy me</a>-->
							<a href="{{ detail.url }}" class="btn btn-info" id="store-button" >
								Buy me
							</a>
							<script>
								var link = document.getElementById("store-button");
								link.addEventListener("click", function(event) {
									// The user has clicked the link
									// You can access information about the link here
									
									var product_name = {{ productName }};
									var product_price = {{ detail.price }};
									var product_url = {{ detail.url }};
									
//									alert(product_name, product_price, product_url)
									var xhr = new XMLHttpRequest();
									xhr.open("POST", "{% url 'update_product_info' %}", true);
									xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
									xhr.send("product_name=" + product_name + "&product_price=" + product_price + "&product_url=" + product_url);
								});
							</script>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
			{% endif %}
			
		</div>
		<!-- [ Hover-table ] end -->
	</body>
	{% endblock content %}
</html>
