{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

<!DOCTYPE html>
<html>
	
	{% block content %}
	<head>
		<title>Search</title>
	</head>
	
	<header class="jumbotron text-center">
		<h1 class="display-4">LabSaver</h1>
	</header>
	
	
	<body>
		<!-- Search Bar -->
		<div class="container my-5">
			<div class=" text-center">
				<h2 class="display-6">Searching for Lab Equipments</h2>
				<!-- Search Bar -->
				<div class="container my-5">
					<form class="form-inline d-flex justify-content-center" method="post">
						{% csrf_token %}
						<input
							class="form-control mr-sm-2"
							type="text"
							placeholder="Search"
							aria-label="Search"
							name="query"
						/>
						<button type="submit" class="btn btn-info">Search</button>
					</form>
				</div>
			</div>
		</div>
		<!-- Search Bar -->
		
		<!-- [ Hover-table ] start -->
		<div class="container">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><h4>Supplier</h4></th>
						<th><h4>Name</h4></th>
						<th><h4>Price</h4></th>
						<th><h4>Url</h4></th>
					</tr>
				</thead>
				<tbody>
					{% for productName, detail in results.items %}
						<tr>
							
							<td>{{ detail.supplier }}</td>
							<td>{{ productName }}</td>
							<td>{{ detail.price }}</td>
							<td>
								<a href="{{ detail.url }}" class="btn btn-info">Buy me</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- [ Hover-table ] end -->
	</body>
	{% endblock content %}
</html>
