<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% block content %}
	<head>
		<title>Sign Up</title>
	</head>
	
	<body>
		<header class="jumbotron text-center">
			<h1 class="jumbotron text-center">Join LabSaver</h1>
			
			<div class="container my-5">
				<p>
					Discover the most cost-effective lab products with ease. Our app simplifies the process by allowing you to compare prices from multiple suppliers and view their inventory, ranked from most to least in stock.
				</p>
			</div>
		</header>
		
		
		<div class="container">
			<h2 >Sign Up</h2>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		
			
<!--			Form 1 Good Looking-->
<!--			<form method="post">-->
<!--				<div class="form-group">-->
<!--					<label for="exampleInputEmail1">Email address</label>-->
<!--					<input-->
<!--						type="email"-->
<!--						class="form-control"-->
<!--						id="exampleInputEmail1"-->
<!--						aria-describedby="emailHelp"-->
<!--						placeholder="Enter email"-->
<!--					/>-->
<!--					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--				</div>-->
<!--				<div class="form-group">-->
<!--					<label for="exampleInputPassword1">Password</label>-->
<!--					<input-->
<!--						type="password"-->
<!--						class="form-control"-->
<!--						id="exampleInputPassword1"-->
<!--						placeholder="Password"-->
<!--					/>-->
<!--				</div>-->
<!--				<button type="submit" class="btn btn-primary">Submit</button>-->
<!--			</form>-->
		</div>
	</body>
{% endblock content %}
</html>