<!--Source: Example HTML code from https://github.com/KenBroTech/Django-Inventory-Management-System-->
{% extends 'dashboard_base.html' %}

{% block title %}Order Page{% endblock title %}


{% block content %}

{% include 'inventoryTop.html' %}

<!--Table-->
<div class="container">
	<div class="row my-4">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-8">
			<table class="table bg-white">
				<thead class="bg-info">
					<tr class="text-white">
						<th scope="col">#</th>
						<th scope="col">Product</th>
						<th scope="col">Category</th>
						<th scope="col">Quantity</th>
						<th scope="col">Order by</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>5</td>
						<td>
							Broni
						</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>28</td>
						<td>
							Kenneth
						</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>36</td>
						<td>
							Cecilia
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--End Table-->
{% endblock content %}
