<!--Source: Example HTML code from https://github.com/KenBroTech/Django-Inventory-Management-System-->
{% extends 'dashboard_base.html' %}

{% block title %}Order Page{% endblock title %}


{% block content %}

{% include 'inventoryTop.html' %}

<!--Table-->
<div class="container">
	<div class="row my-4">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-8">
			<table class="table bg-white">
				<thead class="bg-info">
					<tr class="text-white">
						<th scope="col">#</th>
						<th scope="col">Product</th>
						<th scope="col">Category</th>
						<th scope="col">Quantity</th>
						<th scope="col">Order by</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
					<tr>
						<th scope="row">{{ order.id }}</th>
						<td>{{ order.product.name }}</td>
						<td>{{ order.product.category }}</td>
						<td>{{ order.product.quantity }}</td>
						<td>{{ order.staff.username }}</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>
<!--End Table-->
{% endblock content %}
