<!--Source: Example HTML code from https://github.com/KenBroTech/Django-Inventory-Management-System-->
{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Product Page{% endblock title %}

{% block content %}

{% include 'inventoryTop.html' %}

<style>
	body {
		background-color: rgb(230, 227, 227);
	}
</style>

<div class="container">
	<div class="row my-4">
		<!---------- Add Product ----------->
		<div class="container mt-3">
			<a type="button" class="btn btn-info" href="{% url 'product_add' %}">Add Product</a>
		</div>
		
		<!--------- Success Message--------->
		<div class="container mt-3">
			{% for message in messages %}
			{% if message %}
				<div class="alert alert-success alert-dismissible alert-{{ message.tags }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Success!</strong> {{ message }}
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<!--------- Success Message --------->
		
		<!---------- Add Product ----------->
		
		<!---------- Product Table ---------->
		<div class="container my-5">
			<table class="table table-hover bg-white">
				<thead class="bg-info">
					<tr class="text-white">
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Category</th>
						<th scope="col">Quantity</th>
						<th scope="col">Price</th>
						<th scope="col">URLs</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
					<tr>
						<th scope="row">{{ item.id }}</th>
						<td>{{ item.name }}</td>
						<td>{{ item.category }}</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.price }}</td>
						{% if item.url %}
						<td> <a class="btn btn-info btn-sm" href="{{ item.url }}">Buy</a> </td>
						{% else %}
						<td>  </td>
						{% endif %}
						<td class="text-center"> <a class="btn btn-info btn-sm" href="{% url 'product_update' item.id %}">Edit</a> </td>
						<td class="text-center"> <a class="btn btn-danger btn-sm" href="{% url 'product_delete' item.id %}">Delete</a> </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<!---------- End Table ---------->
		</div>
	</div>
	
	
	
	<br>
	<br>
</div>




{% endblock content %}