<!--Source: Example HTML code from https://github.com/KenBroTech/Django-Inventory-Management-System-->
{% extends 'dashboard_base.html' %}
{% block title %}Staff Page{% endblock title %}

{% block content %}

{% include 'inventoryTop.html' %}
<!--Table-->
<div class="container">
	<div class="row my-4">
		<div class="col-md-4"></div>
		<div class="container my-4">
			<table class="table table-hover bg-white">
				<thead class="bg-info">
					<tr class="text-white">
						<th scope="col">Staff Name</th>
						<th scope="col">Email</th>
						<th scope="col">Phone</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for employee in employees %}
					<tr>
						<td> <h6>{{employee.username}}</h6> </td>
						<td>{{employee.email}}</td>
						<td>{{employee.profile.phone}}</td>
						<th scope="row"><a class="btn btn-info btn-sm" href="{% url 'staff_detail' employee.id %}">View</a></th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--End Table-->
{% endblock content %}